<div class="row">
  <div class="col-md-12 path" style="color: #196DED;">
    .
  </div>
</div>

<div class="row">
  <h3 class="col-md-10 col-md-offset-1">Editing homework: <%= @homework.name %></h3>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'form_edit' %>
  </div>
</div>
<div class="row">
  <a href="../" class="col-md-offset-1 btn btn-default">Voltar</a>  
</div>
