/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #e5e5e5;
}
header {
  margin-top: 0.6em;
  padding: 0.3em;
  font-size: 2em;
  font-weight: bold;
}
header >div {
  padding-top: 0.4em;
}

.container  {
  background: #fff;
  margin-top: 3%;
  box-shadow: 1px 1px 3px #DADADA;}

.path {
  background: #427FED;
  color: #fff;
  font-size: 1.6em;
  font-weight: bolder;
  padding:5px;
  padding-left:15px;

  text-transform: uppercase;
  border-bottom: 3px solid #427FED;
}

.content{;
  margin-top: 1.2em;
  padding: 3%;
}

h1 {
  color: #427FED;
  font-weight: bolder;
  font-family: Arial;
  letter-spacing: -0.5px;
}